.Details{
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.det{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    padding: 45px 0px;
    
    .container{
 width: 75%;
 display: flex;
 div{
    display: flex;
    nav{
        height: 100%;
        img{
            display: flex;
            width: 250px;
            height: 360px;
            border: 1px solid rgb(100, 100, 100);
            border-radius: 5px;
        }
        table{
            color: white;
            border: .5px solid rgb(115, 115, 115);
            width: 230px;
            p{
                font-size: 13px;
            }
            td{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: .5px solid rgb(115, 115, 115);
                background-color: #e3b3172c;
                a,p{
                    margin: 8px;
                    display: flex;
                    align-items: center;
                }
            }
            th{
                display: flex;
                justify-content: start;
                font-size: 12px;
                font-weight: 300;
                padding: 5px;
            }
            .link{
                display: flex;
                justify-content: space-between;
                border-top: .5px solid rgb(115, 115, 115);

                a{
                    display: flex;
                justify-content: space-between;
                    font-size: 12px;
                font-weight: 300;
                }
            }
        }
        li{
            margin: 20px 0px;
            display: flex;
            justify-content: center;
            gap: 15px;
            button{
                color: white;
                background-color: transparent;
                border: none;
                font-size: 23px;
                cursor: pointer;
                &:hover{
                    color: #E3B517;
                }

               
            }
        }
        h1{
            font-weight: 400;
            margin: 10px 0px;
            color: rgb(172, 172, 172);
            border-bottom: 1px solid  rgb(172, 172, 172);
            padding: 5px 0px;
        }
        p{
            color: rgb(172, 172, 172);
            font-size: 20px;
        }
       
        a{
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-weight: 500;
            display: flex;
            align-items: center;
           
            i{
                display: flex;
                align-items: center;
                font-size: 20px;
                
            }
            &:hover{
                color: #e3b317;
            }
        }
    }
.text{
    h3{
        margin: 0px 0px 0px 45px;
        p{
            width: 60%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 18px;
            color: rgb(193, 193, 193);
            font-weight: 100;
            margin: 40px 0px;
        }
    
        h1{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: white;
            font-size: 38px;
            margin: 0%;
            padding: 0%;
            display: flex;
            align-items: end;
            p{
                font-size: 18px;
                font-weight: 100;
                margin: 5px 15px;
                font-family: Arial, Helvetica, sans-serif;
                 }
            }

            table{
                color: white;
                width: 70%;
                gap: 0px;
                padding: 0px;
                margin: 45px 0px;
                td{
                    padding: 10px;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            table, tr, td {
                border: 1px solid #e3b317;
              }
            form{
                width: 70%;
                display: flex;
                margin: 200px 0px 40px 0px;
                padding: 2px 0px;
                border-bottom: .5px solid rgba(255, 255, 255, 0.345);

                button{
                    background-color: #ddaa00;
                    border: none;
                    cursor: pointer;
                    color: white;
                    padding: 8px 18px;
                    border-radius: 2px;
                    font-weight: 600;
                }
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    padding: 5px;
                    color: white;
                    
                }
            }
            
    }
}

 }
    }
}


.commentList{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color:transparent;
    .comment{
display: flex;
justify-content: start;
width: 100%;
padding: 15px 0px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 200px;
            margin: 0px 10px;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3puR9z5lh7UbRRX9EIJkHYQTaLHnnZIQ7dALWbUH1qsgjnuBuZ7GKK7iCh2AGH0fCGVI&usqp=CAU');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        h6{
            display: flex;
            flex-direction: column;
            color: rgb(126, 126, 126);
            margin: 5px;
            font-weight: 700;
            font-size: 12px;
        }
        h5{
            color: rgb(255, 255, 255);
            font-family: sans-serif;
            font-size: 15px;
            padding: 5px;
        }
        h4{
            display: flex;
            flex-direction: column;
            color: rgb(173, 173, 173);
            margin: 5px;
            font-weight: 100;
            font-size: 14px;
           
        }
    }
}


@media (max-width: 1120px){
    .det{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        padding: 45px 0px;
        
        .container{
     width: 75%;
     display: flex;
     div{
        display: flex;
        nav{
            height: 100%;
            img{
                display: flex;
                width: 250px;
                height: 360px;
                border: 1px solid rgb(100, 100, 100);
                border-radius: 5px;
            }
            table{
                color: white;
                border: .5px solid rgb(115, 115, 115);
                width: 230px;
                p{
                    font-size: 13px;
                }
                td{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: .5px solid rgb(115, 115, 115);
                    background-color: #e3b3172c;
                    a,p{
                        margin: 8px;
                        display: flex;
                        align-items: center;
                    }
                }
                th{
                    display: flex;
                    justify-content: start;
                    font-size: 12px;
                    font-weight: 300;
                    padding: 5px;
                }
                .link{
                    display: flex;
                    justify-content: space-between;
                    border-top: .5px solid rgb(115, 115, 115);
    
                    a{
                        display: flex;
                    justify-content: space-between;
                        font-size: 12px;
                    font-weight: 300;
                    }
                }
            }
            li{
                margin: 20px 0px;
                display: flex;
                justify-content: center;
                gap: 15px;
                button{
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 23px;
                    cursor: pointer;
                    &:hover{
                        color: #E3B517;
                    }
    
                   
                }
            }
            h1{
                font-weight: 400;
                margin: 10px 0px;
                color: rgb(172, 172, 172);
                border-bottom: 1px solid  rgb(172, 172, 172);
                padding: 5px 0px;
            }
            p{
                color: rgb(172, 172, 172);
                font-size: 20px;
            }
           
            a{
                text-decoration: none;
                color: white;
                font-size: 15px;
                font-weight: 500;
                display: flex;
                align-items: center;
               
                i{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    
                }
                &:hover{
                    color: #e3b317;
                }
            }
        }
    .text{
        h3{
            margin: 0px 0px 0px 45px;
            p{
                width: 60%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 15px;
                color: rgb(193, 193, 193);
                font-weight: 100;
                margin: 40px 0px;
            }
        
            h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
                font-size: 30px;
                margin: 0%;
                padding: 0%;
                display: flex;
                align-items: end;
                p{
                    font-size: 14px;
                    font-weight: 100;
                    margin: 5px 15px;
                    font-family: Arial, Helvetica, sans-serif;
                     }
                }
    
                table{
                    color: white;
                    width: 70%;
                    gap: 0px;
                    padding: 0px;
                    margin: 45px 0px;
                    td{
                        padding: 10px;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
                table, tr, td {
                    border: 1px solid #e3b317;
                  }
                form{
                    width: 70%;
                    display: flex;
                    padding: 2px 0px;
                    border-bottom: .5px solid rgba(255, 255, 255, 0.345);
    
                    button{
                        background-color: #ddaa00;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 8px 18px;
                        border-radius: 2px;
                        font-weight: 600;
                    }
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                        color: white;
                        
                    }
                }
                
        }
    }
    
     }
        }
    }
    
}


@media (min-width: 680px) and (max-width: 1024px){
    .det{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        padding: 45px 0px;
        
        .container{
     width: 90%;
     display: flex;
     margin: 45px;
     div{
        display: flex;
        nav{
            height: 100%;
            img{
                display: flex;
                width: 210px;
                height: 320px;
                border: 1px solid rgb(100, 100, 100);
                border-radius: 5px;
            }
            table{
                color: white;
                border: .5px solid rgb(115, 115, 115);
                width: 100%;
                p{
                    font-size: 13px;
                }
                td{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: .5px solid rgb(115, 115, 115);
                    background-color: #e3b3172c;
                    a,p{
                        margin: 8px;
                        display: flex;
                        align-items: center;
                    }
                }
                th{
                    display: flex;
                    justify-content: start;
                    font-size: 12px;
                    font-weight: 300;
                    padding: 5px;
                }
                .link{
                    display: flex;
                    justify-content: space-between;
                    border-top: .5px solid rgb(115, 115, 115);
    
                    a{
                        display: flex;
                    justify-content: space-between;
                        font-size: 12px;
                    font-weight: 300;
                    }
                }
            }
            li{
                margin: 20px 0px;
                display: flex;
                justify-content: center;
                gap: 15px;
                button{
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 23px;
                    cursor: pointer;
                    &:hover{
                        color: #E3B517;
                    }
    
                   
                }
            }
            h1{
                font-weight: 400;
                margin: 10px 0px;
                color: rgb(172, 172, 172);
                border-bottom: 1px solid  rgb(172, 172, 172);
                padding: 5px 0px;
            }
            p{
                color: rgb(172, 172, 172);
                font-size: 20px;
            }
           
            a{
                text-decoration: none;
                color: white;
                font-size: 15px;
                font-weight: 500;
                display: flex;
                align-items: center;
               
                i{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    
                }
                &:hover{
                    color: #e3b317;
                }
            }
        }
    .text{
        h3{
            margin: 0px 0px 0px 45px;
            width: 100%;
            p{
                width: 100%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 15px;
                color: rgb(193, 193, 193);
                font-weight: 100;
                margin: 40px 0px;
            }
        
            h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
                font-size: 25px;
                margin: 0%;
                padding: 0%;
                display: flex;
                align-items: start;
                flex-direction: column;
                p{
                    font-size: 14px;
                    font-weight: 100;
                    margin: 15px 0px;
                    width: 100%;
                    font-family: Arial, Helvetica, sans-serif;
                     }
                }
    
                table{
                    color: white;
                    width: 100%;
                    gap: 0px;
                    padding: 0px;
                    margin: 45px 0px;
                    td{
                        padding: 10px;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
                table, tr, td {
                    border: 1px solid #e3b317;
                  }
                form{
                    width: 100%;
                    display: flex;
                    padding: 2px 0px;
                    border-bottom: .5px solid rgba(255, 255, 255, 0.345);
    
                    button{
                        background-color: #ddaa00;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 8px 18px;
                        border-radius: 2px;
                        font-weight: 600;
                    }
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                        color: white;
                        
                    }
                }
                
        }
    }
    
     }
        }
    }
    
}


@media  (max-width: 680px){
    .det{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content:center;
        padding: 45px 0px;
        
        .container{
     width: 90%;
     display: flex;
     margin: 45px 0px;
     div{
        display: flex;
        nav{
            height: 100%;
            img{
                display: flex;
                width: 180px;
                height: 280px;
                border: 1px solid rgb(100, 100, 100);
                border-radius: 5px;
            }
            table{
                color: white;
                border: .5px solid rgb(115, 115, 115);
                width: 100%;
                p{
                    font-size: 13px;
                }
                td{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: .5px solid rgb(115, 115, 115);
                    background-color: #e3b3172c;
                    a,p{
                        margin: 8px;
                        display: flex;
                        align-items: center;
                    }
                }
                th{
                    display: flex;
                    justify-content: start;
                    font-size: 12px;
                    font-weight: 300;
                    padding: 5px;
                }
                .link{
                    display: flex;
                    justify-content: space-between;
                    border-top: .5px solid rgb(115, 115, 115);
    
                    a{
                        display: flex;
                    justify-content: space-between;
                        font-size: 12px;
                    font-weight: 300;
                    }
                }
            }
            li{
                margin: 20px 0px;
                display: flex;
                justify-content: center;
                gap: 15px;
                button{
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #E3B517;
                    }
    
                   
                }
            }
            h1{
                font-weight: 400;
                margin: 10px 0px;
                color: rgb(172, 172, 172);
                border-bottom: 1px solid  rgb(172, 172, 172);
                padding: 5px 0px;
            }
            p{
                color: rgb(172, 172, 172);
                font-size: 15px;
            }
           
            a{
                text-decoration: none;
                color: white;
                font-size: 12px;
                font-weight: 500;
                display: flex;
                align-items: center;
               
                i{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    
                }
                &:hover{
                    color: #e3b317;
                }
            }
        }
    .text{
        h3{
            margin: 0px 0px 0px 45px;
            width: 100%;
            p{
                width: 100%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 14px;
                color: rgb(193, 193, 193);
                font-weight: 100;
                margin: 40px 0px;
            }
        
            h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
                font-size: 22px;
                margin: 0%;
                padding: 0%;
                display: flex;
                align-items: start;
                flex-direction: column;
                p{
                    font-size: 14px;
                    font-weight: 100;
                    margin: 15px 0px;
                    width: 100%;
                    font-family: Arial, Helvetica, sans-serif;
                     }
                }
    
                table{
                    color: white;
                    width: 100%;
                    gap: 0px;
                    padding: 0px;
                    margin: 45px 0px;
                    td{
                        padding: 5px;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                table, tr, td {
                    border: 1px solid #e3b317;
                  }
                form{
                    width: 100%;
                    margin: 80px 0px 10px;

                    display: flex;
                    padding: 2px 0px;
                    border-bottom: .5px solid rgba(255, 255, 255, 0.345);
    
                    button{
                        background-color: #ddaa00;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 8px 18px;
                        border-radius: 2px;
                        font-weight: 600;
                    }
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                        color: white;
                        
                    }
                }
                
        }
    }
    
     }
        }
    }

    .commentList{
        display: flex;
        flex-direction: column;
        background-color:transparent;
        .comment{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 15px 0px;
            img{
                width: 20px;
                height: 20px;
                border-radius: 200px;
                margin: 0px 10px;
            }
            h6{
                display: flex;
                flex-direction: column;
                color: rgb(126, 126, 126);
                margin: 1px;
                font-weight: 700;
                font-size: 6px;
            }
            h5{
                color: rgb(255, 255, 255);
                font-family: sans-serif;
                font-size: 13px;
                padding: 1px;
            }
            h4{
                display: flex;
                flex-direction: column;
                color: rgb(173, 173, 173);
                margin: 1px;
                font-weight: 100;
                font-size: 12px;
               
            }
        }
    }
    
}
@media  (max-width: 500px){
    .det{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content:center;
        padding: 45px 0px;
        
        .container{
     width: 95%;
     display: flex;
     margin: 45px 0px;
     div{
        display: flex;
        nav{
            height: 100%;
            img{
                display: flex;
                width: 110px;
                height: 180px;
                border: 1px solid rgb(100, 100, 100);
                border-radius: 5px;
            }
            table{
                color: white;
                border: .5px solid rgb(115, 115, 115);
                width: 100%;
                p{
                    font-size: 10px;
                }
                td{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: .5px solid rgb(115, 115, 115);
                    background-color: #e3b3172c;
                    a,p{
                        margin: 5px 1px;
                        display: flex;
                        align-items: center;
                    }
                }
                th{
                    display: flex;
                    justify-content: start;
                    font-size: 10px;
                    font-weight: 300;
                    padding: 5px;
                }
                .link{
                    display: flex;
                    justify-content: space-between;
                    border-top: .5px solid rgb(115, 115, 115);
    
                    a{
                        display: flex;
                    justify-content: space-between;
                        font-size: 10px;
                    font-weight: 300;
                    }
                }
            }
            li{
                margin: 20px 0px;
                display: flex;
                justify-content: center;
                gap: 15px;
                button{
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #E3B517;
                    }
    
                   
                }
            }
            h1{
                font-weight: 400;
                margin: 10px 0px;
                color: rgb(172, 172, 172);
                border-bottom: 1px solid  rgb(172, 172, 172);
                padding: 5px 0px;
            }
            p{
                color: rgb(172, 172, 172);
                font-size: 10px;
            }
           
            a{
                text-decoration: none;
                color: white;
                font-size: 12px;
                font-weight: 500;
                display: flex;
                align-items: center;
               
                i{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    
                }
                &:hover{
                    color: #e3b317;
                }
            }
        }
    .text{
        h3{
            margin: 0px 0px 0px 25px;
            width: 100%;
            p{
                width: 100%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 10px;
                color: rgb(193, 193, 193);
                font-weight: 100;
                margin: 20px 0px;
            }
        
            h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
                font-size: 18px;
                margin: 0%;
                padding: 0%;
                display: flex;
                align-items: start;
                flex-direction: column;
                p{
                    font-size: 10px;
                    font-weight: 100;
                    margin: 15px 0px;
                    width: 100%;
                    font-family: Arial, Helvetica, sans-serif;
                     }
                }
    
                table{
                    color: white;
                    width: 100%;
                    gap: 0px;
                    padding: 0px;
                    margin: 45px 0px;
                    td{
                        padding: 5px;
                        font-size: 8px;
                        font-weight: 400;
                    }
                }
                table, tr, td {
                    border: 1px solid #e3b317;
                  }
                form{
                    width: 100%;
                    margin: 50px 0px 10px;
                    display: flex;
                    padding: 2px 0px;
                    border-bottom: .5px solid rgba(255, 255, 255, 0.345);
    
                    button{
                        background-color: #ddaa00;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 5px 10px;
                        font-size: 10px;
                        border-radius: 2px;
                        font-weight: 600;
                    }
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                        color: white;
                        font-size: 10px;
                        
                    }
                }
                
        }
    }
    
     }
        }
    }
    .commentList{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        background-color:transparent;
        .comment{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 15px 0px;
            img{
                width: 20px;
                height: 20px;
                border-radius: 200px;
                margin: 0px 10px;
            }
            h6{
                display: flex;
                flex-direction: column;
                color: rgb(126, 126, 126);
                font-weight: 700;
                font-size: 8px;
            }
            h5{
                color: rgb(255, 255, 255);
                font-family: sans-serif;
                font-size: 10px;
            }
            h4{
                display: flex;
                flex-direction: column;
                color: rgb(173, 173, 173);
                font-weight: 100;
                font-size: 9px;
               
            }
        }
    }
    
}

@media  (max-width: 380px){
    .det{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content:center;
        padding: 45px 0px;
        
        .container{
     width: 95%;
     display: flex;
     margin: 45px 0px;
     div{
        display: flex;
        nav{
            height: 100%;
            img{
                display: flex;
                width: 90px;
                height: 150px;
                border: 1px solid rgb(100, 100, 100);
                border-radius: 5px;
            }
            table{
                color: white;
                border: .5px solid rgb(115, 115, 115);
                width: 100%;
                p{
                    font-size: 7px;
                }
                td{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: .5px solid rgb(115, 115, 115);
                    background-color: #e3b3172c;
                    a,p{
                        margin: 5px 1px;
                        display: flex;
                        align-items: center;
                    }
                }
                th{
                    display: flex;
                    justify-content: start;
                    font-size: 7px;
                    font-weight: 300;
                    padding: 5px;
                }
                .link{
                    display: flex;
                    justify-content: space-between;
                    border-top: .5px solid rgb(115, 115, 115);
    
                    a{
                        display: flex;
                    justify-content: space-between;
                        font-size: 7px;
                    font-weight: 200;
                    }
                }
            }
            li{
                margin: 10px 0px;
                display: flex;
                justify-content: center;
                gap: 10px;
                button{
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover{
                        color: #E3B517;
                    }
    
                   
                }
            }
            h1{
                font-weight: 400;
                margin: 10px 0px;
                color: rgb(172, 172, 172);
                border-bottom: 1px solid  rgb(172, 172, 172);
                padding: 5px 0px;
            }
            p{
                color: rgb(172, 172, 172);
                font-size: 8px;
            }
           
            a{
                text-decoration: none;
                color: white;
                font-size: 7px;
                font-weight: 500;
                display: flex;
                align-items: center;
               
                i{
                    display: flex;
                    align-items: center;
                    font-size: 10px;
                    
                }
                &:hover{
                    color: #e3b317;
                }
            }
        }
    .text{
        h3{
            margin: 0px 0px 0px 15px;
            width: 100%;
            p{
                width: 100%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 10px;
                color: rgb(193, 193, 193);
                font-weight: 100;
                margin: 20px 0px;
            }
        
            h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
                font-size: 18px;
                margin: 0%;
                padding: 0%;
                display: flex;
                align-items: start;
                flex-direction: column;
                p{
                    font-size: 10px;
                    font-weight: 100;
                    margin: 15px 0px;
                    width: 100%;
                    font-family: Arial, Helvetica, sans-serif;
                     }
                }
    
                table{
                    color: white;
                    width: 100%;
                    gap: 0px;
                    padding: 0px;
                    margin: 45px 0px;
                    td{
                        padding: 5px;
                        font-size: 8px;
                        font-weight: 400;
                    }
                }
                table, tr, td {
                    border: 1px solid #e3b317;
                  }
                form{
                    width: 100%;
                    display: flex;
                    padding: 2px 0px;
                    border-bottom: .5px solid rgba(255, 255, 255, 0.345);
    
                    button{
                        background-color: #ddaa00;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 5px 10px;
                        font-size: 10px;
                        border-radius: 2px;
                        font-weight: 600;
                    }
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        padding: 5px;
                        color: white;
                        font-size: 10px;
                        
                    }
                }
                
        }
    }
    
     }
        }
    }
    
}