.like{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
p{
    font-size: 15px;
}

    .a{
        display: flex;
        justify-content: start;
        width: 100%;

        section{
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            width: 100%;
        }
        .container{
           width: 80%;
           

           
            .headers{
                display: flex;
                margin: 45px;
                border-bottom: .5px solid rgb(86, 86, 86);
                width: 80%;
                padding: 3px 8px;
                color: rgb(86, 86, 86);
                font-weight: 100;
                position: fixed;
                background-color: rgb(0, 0, 0);
                margin: 0;
                padding: 15px;
                display: flex;
                align-items: center;
                
                button{
                    background-color: transparent;
                    border: none;
                    color: white;
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover{
                        color: #e3b317;
                    }
                }
                p{
                    color: white;
                    font-size: 16px;
                    margin: 0px 18px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                }
            }
            div{
                padding: 45px 0px 0px 0px;
                
                
                
                .info{
                    display: flex;
                    justify-content: space-around;
                    margin: 0px 25px;
                    border: 1px solid #6f6f6f;
                    padding: 6px;
                    a{
                        color: #6f6f6f;
                        font-size: 15px;
                        margin: 0px 18px ;
                        &:hover{
                            color: #e3b317;
                        }
                    }
                }
            }
        }
    }
    .items{
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, #ffc400 5%,#000000 ,#000000 , #000000 );
        justify-content: center;

        .inf{
            display: flex;
            flex-direction: column;
            border: none;
            color: white;
            margin: 20px 30px;
            gap: 3px;
            h1{
                font-size: 25px;
            }
            h3{
                font-size: 15px;
                color: rgb(152, 152, 152);
            }
            p{
                margin: 10px 0px;
                color: rgb(152, 152, 152);
                span{
                    color: white;
                }
            }
        }
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            background-color: transparent;
            border: 0.1px solid white;
            padding: 10px 20px;
            color: white;
            font-size: 16px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            margin: 0px 20px ;
            cursor: pointer;
            &:hover{
                color: #e3b317;
                border: 0.1px solid #e3b317;

            }
        }
        
        img{
            background-image: url('https://freesvg.org/img/abstract-user-flat-3.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 500px;
            border: 1px solid rgb(177, 174, 169);
            margin: 0px 30px;
        }
    }
    
}




@media (min-width: 500px) and (max-width: 1024px) {
    .like{
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 100vh;
    p{
        font-size: 15px;
    }
    
        .a{
            display: flex;
            justify-content: start;
            width: 100%;
    
            section{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                width: 100%;
            }
            .container{
               width: 100%;
               margin-top: 45px;
               
    
               
                .headers{
                    display: flex;
                    margin: 45px;
                    border-bottom: .5px solid rgb(86, 86, 86);
                    width: 100%;
                    padding: 3px 8px;
                    color: rgb(86, 86, 86);
                    font-weight: 100;
                    position: fixed;
                    background-color: rgb(0, 0, 0);
                    margin: 0;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    
                    button{
                        background-color: transparent;
                        border: none;
                        color: white;
                        font-size: 25px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &:hover{
                            color: #e3b317;
                        }
                    }
                    p{
                        color: white;
                        font-size: 16px;
                        margin: 0px 18px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                    }
                }
                div{
                    padding: 45px 0px 0px 0px;
                    
                    
                    
                    .info{
                        display: flex;
                        margin: 0px 25px;
                        border: 1px solid #6f6f6f;
                        padding: 6px;
                        a{
                            color: #6f6f6f;
                            font-size: 15px;
                            margin: 0px 18px ;
                            &:hover{
                                color: #e3b317;
                            }
                        }
                    }
                }
            }
        }
        .items{
            display: flex;
            flex-direction: column;
            background: linear-gradient(to bottom, #ffc400 5%,#000000 ,#000000 , #000000 );
            justify-content: center;
    
            .inf{
                display: flex;
                flex-direction: column;
                border: none;
                color: white;
                margin: 20px 30px;
                gap: 3px;
                h1{
                    font-size: 25px;
                }
                h3{
                    font-size: 15px;
                    color: rgb(152, 152, 152);
                }
                p{
                    margin: 10px 0px;
                    color: rgb(152, 152, 152);
                    span{
                        color: white;
                    }
                }
            }
        }
        .img{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                margin:0px 40px;
                color: white;
                font-size: 14px;
                border: .5px solid white;
                padding: 5px 15px;
                border-radius: 15px;
                &:hover{
                    color: #e3b317;
                    border: .5px solid #e3b317;
                }
            }
            
            img{
                background-image: url('https://freesvg.org/img/abstract-user-flat-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
                width: 120px;
                height: 120px;
                border-radius: 500px;
                border: 1px solid rgb(177, 174, 169);
                margin: 0px 30px;
            }
        }
        
    }
    
}




@media (max-width: 500px){
    .like{
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 100vh;
    p{
        font-size: 14px;
    }
    
        .a{
            display: flex;
            justify-content: start;
            width: 100%;
    
            section{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                width: 100%;
            }
            .container{
               width: 100%;
               margin-top: 45px;
               
    
               
                .headers{
                    display: flex;
                    margin: 45px;
                    border-bottom: .5px solid rgb(86, 86, 86);
                    width: 100%;
                    padding: 3px 8px;
                    color: rgb(86, 86, 86);
                    font-weight: 100;
                    position: fixed;
                    background-color: rgb(0, 0, 0);
                    margin: 0;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    
                    button{
                        background-color: transparent;
                        border: none;
                        color: white;
                        font-size: 25px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &:hover{
                            color: #e3b317;
                        }
                    }
                    p{
                        color: white;
                        font-size: 16px;
                        margin: 0px 18px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                    }
                }
                div{
                    padding: 45px 0px 0px 0px;
                    
                    
                    
                    .info{
                        display: flex;
                        margin: 0px 25px;
                        border: 1px solid #6f6f6f;
                        padding: 6px;
                        a{
                            color: #6f6f6f;
                            font-size: 13px;
                            margin: 0px 18px ;
                            &:hover{
                                color: #e3b317;
                            }
                        }
                    }
                }
            }
        }
        .items{
            display: flex;
            flex-direction: column;
            background: linear-gradient(to bottom, #ffc400 5%,#000000 ,#000000 , #000000 );
            justify-content: center;
    
            .inf{
                display: flex;
                flex-direction: column;
                border: none;
                color: white;
                margin: 20px 20px;
                gap: 3px;
                h1{
                    font-size: 22px;
                }
                h3{
                    font-size: 13px;
                    color: rgb(152, 152, 152);
                }
                p{
                    margin: 10px 0px;
                    color: rgb(152, 152, 152);
                    span{
                        color: white;
                    }
                }
            }
        }
        .img{
            display: flex;
            align-items: center;
            justify-content: space-between;
         
            
            img{
                background-image: url('https://freesvg.org/img/abstract-user-flat-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
                width: 90px;
                height: 90px;
                border-radius: 500px;
                border: 1px solid rgb(177, 174, 169);
                margin: 0px 15px;
            }
        }
        
    }
    
}