*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 736px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100%;
        flex-direction: column;
        nav{
            height: 100%;
            ul{
                display: flex;
                flex-direction: column;
               height: 100%;
                justify-content: space-around;
            }
        }
img{
    width: 220px;
    margin: 8px 0px;
}
    }
}