*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    position: relative;
    z-index: 3;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100vh;
    position: fixed;
    border-right: .5px solid #e3b3175b;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100%;
        flex-direction: column;
        nav{
            height: 100%;
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
               height: 100%;
                justify-content: space-around;

                li{
                    .post{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: white;
                        color: black;
                        padding: 8px 0px;
                        border-radius: 25px;
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0px 10px;
                        &:hover{
                            background-color: #E3B517;
                            color: white;
                            transition: .3s;
                        }
                    }
                    
                    a{
                        font-size: 20px;
                        color: white;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        &:hover{
                            color: #E3B517;
                            transition: .3s;
                        }
                        i{
                            display: flex;
                            align-items: center;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
img{
    width: 220px;
    margin: 8px 0px;
}
.logo{
    display: none;
}
    }
    .burger{
        display: none;
    }
}


.bottomheader{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-top: 0.5px solid #e3b3175b;
    width: 100%;
    z-index: 3;
    position: fixed;
    bottom: 0px;
    background-color: black;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
       
        
        a{
            text-decoration: none;
            font-size: 23px;
            color: white;
            display: flex;
    align-items: center;
    justify-content: center;
    i{
        display: flex;
    align-items: center;
    justify-content: center;
    }
        }
    }
}


.addicon{
position: absolute;
right: 15px;
position: fixed;
top: 79vh;
text-decoration: none;
background-color: white;
font-size: 30px;
font-weight: 700;
color: black;
display: none;
align-items: center;
justify-content: center;
padding: 0px 14px 0px 14px;
border-radius: 12px;
}


/* Komputerler ucun*/
@media (min-width: 1025px) and (max-width: 1280px) {
    header{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100vh;
        position: fixed;
        border-right: .5px solid #e3b3175b;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            height: 100%;
            flex-direction: column;
            nav{
                height: 100%;
                ul{
                    display: flex;
                    flex-direction: column;
                   height: 100%;
                    justify-content: space-around;
                    li{
                        
                        .post{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: white;
                            color: black;
                            padding: 7px 0px;
                            border-radius: 25px;
                            font-size: 15px;
                            font-weight: 500;
                            &:hover{
                                background-color: #E3B517;
                                color: white;
                                transition: .3s;
                            }
                        }
                        a{
                            font-size: 18px;
                            color: white;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            &:hover{
                                color: #E3B517;
                                transition: .3s;
                            }
                            i{
                                display: flex;
                                align-items: center;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
    img{
        width: 180px;
        margin: 8px 0px;
    }
        }
    }
    
  }
  





  /* Planşetlər üçün stil */
  @media (min-width: 700px) and (max-width: 1024px){
    .bottomheader{
        display: flex;
   
        ul{
            width: 100%;
            
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            background-color: black;
            padding: 15px 0px;
            a{
                text-decoration: none;
                font-size: 23px;
                color: white;
                display: flex;
        align-items: center;
        justify-content: center;
        i{
            display: flex;
        align-items: center;
        justify-content: center;
        }
            }
        }
    }
    
.addicon{
   
    display: flex;
    
    }
    header{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: fixed;
        border-bottom: .5px solid #e3b3175b;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            height: 100%;
            flex-direction: row;
            nav{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;
                width: 100%;
                ul{
                    display: none;
                    flex-direction: row;
                    margin: 0%;

                   height: auto;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    list-style: none;
                    li{
                        .post{
                            display: none;
                            align-items: center;
                            justify-content: center;
                            background-color: white;
                            color: black;
                            padding: 8px 0px;
                            border-radius: 25px;
                            font-size: 15px;
                            font-weight: 500;
                            &:hover{
                                background-color: #E3B517;
                                color: white;
                                transition: .3s;
                            }
                        }
                        a{
                            font-size: 12px;
                            color: white;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            &:hover{
                                color: #E3B517;
                                transition: .3s;
                            }
                            i{
                                display: none;
                                align-items: center;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
    img{
        display: none;
        width: 180px;
        margin: 0px;
    }
    .logo{
        display: flex;
    }

        }
    }
    
  }
  



  
/* Telefonlar ucun */
  @media  (max-width: 700px) {
    .bottomheader{
        display: flex;
      
        ul{
            width: 100%;
            
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            background-color: black;
            padding: 15px 0px;
            a{
                text-decoration: none;
                font-size: 20px;
                color: white;
                display: flex;
        align-items: center;
        justify-content: center;
        i{
            display: flex;
        align-items: center;
        justify-content: center;
        }
            }
        }
    }
    
    .addicon{
       
        display: flex;
        
        }
    header{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        position: fixed;
        border-bottom: .5px solid #e3b3175b;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            height: 100%;
            flex-direction: row;
            nav{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;
                width: 100%;
                ul{
                    margin: 0%;
                    display: none;
                    flex-direction: row;
                   height: auto;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    list-style: none;
                    li{
                       display: none;
                        .post{
                            display: none;
                            align-items: center;
                            justify-content: center;
                            background-color: white;
                            color: black;
                            padding: 8px 0px;
                            border-radius: 25px;
                            font-size: 15px;
                            font-weight: 500;
                            &:hover{
                                background-color: #E3B517;
                                color: white;
                                transition: .3s;
                            }
                        }
                        a{
                            font-size: 12px;
                            color: white;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            &:hover{
                                color: #E3B517;
                                transition: .3s;
                            }
                            i{
                                display: none;
                                align-items: center;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
    img{
        display: none;
        width: 180px;
        margin: 0px;
    }
    .logo{
        display: flex;
    }
    .burger{
        display: flex;
        color: white;
        margin: 0px 20px;
        li{
            display: flex;
        }
        .nocaret{
            background-color: transparent;
            border: 1px solid #E3B517;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menu{
            background-color: #E3B517;
        }
        .nocaret::after {
            display: none !important; 
          }
    }

        }
    }
    
  }
  