.Search{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    position: absolute;

    input{
        background-color: transparent;
        border: none;
        color: rgb(171, 171, 171);
        padding: 2px 7px;
        &::placeholder{
            color: rgb(114, 100, 70);
            border: none;
        }
        &:focus{
            border: none;
            outline:none;


        }
        
    }
    nav{
        display: flex;
        align-items: center;
        border-bottom: 0.5px solid rgb(52, 52, 52);
        color: white;
        margin: 15px 20px;

        i{
            color: white;
            padding: 0px 12px;
            color: rgb(114, 100, 70);

        }
    }
}