.not{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    h1{
        font-size: 70px;
        color: white;
    }
    p{
        font-size: 25px;
        color: white;
    }
    button{
        padding: 10px;
        margin: 20px;
        cursor: pointer;
    }
}